<h1>Speaker#index</h1>

<p>Here are all the speakers:</p>

<ul>
  <% @speakers.each do |speaker| %>
    <li>
      <%= link_to "#{speaker.first} #{speaker.last}", "/speakers/#{speaker.id}" %> <%=" - " + speaker.email%>
    </li>
  <% end %>
</ul>
